.cont-app{

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cont-header{
  background-color: rgb(255, 255, 255);
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  
  
  
  
}
.cont-main{
   
  flex: 1;
  display: flex;
}
.botoes-nav{
  border: none;
  padding: 15px 15px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  margin: 0 200px;
  
  
  
  
}

.botoes-nav:hover{
  background-color: rgb(193, 199, 199);
  
}



